{% extends 'base.html.twig' %}

{% block title %}Editer Campus{% endblock %}

{% block body %}
    <h1 class="titre1">Editer Campus</h1>


    <div class="text-center formCamp">
                    {{ include('campus/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

                <a ><form method="post" action="{{ path('app_campus') }}">

                <button class="btn-wide btn-normal">Retour</button>

                </form>
                </a>


{% endblock %}
