{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="row justify-content ">
        <div class="text-center ">
        <p class="message-mail">
            Un mail vient d'être envoyé à l'adresse email que vous venez de nous communiquer.
        </p>
        <p class="message-mail">
            Il contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        </p>
        <p class="message-mail">
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p class="message-mail">
            Si vous ne recevez pas l'email, merci de regarder dans vos courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">envoyer de nouveau ce mail</a>.
        </p>
        </div>
    </div>

{% endblock %}
