{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="row justify-content ">
        <div class="text-center ">
        <p class="message-mail">
            Un mail vient de t'être envoyé à l'adresse email que tu viens de nous communiquer.
        </p>
        <p class="message-mail">
            Il contient un lien que tu peux utiliser pour réinitialiser ton mot de passe.
        </p>
        <p class="message-mail">
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p class="message-mail">
            Si tu ne reçoit pas l'email, merci de regarder dans tes courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">click ici pour recevoir de nouveau ce mail</a>.
        </p>
        </div>
    </div>

{% endblock %}
