<h1>Salut toi!</h1>

<p>Pour réinitialiser ton mot de passe, merci de cliquer sur ce lien !</p>

<a href="http://localhost:8000{{ path('app_reset_password', {token: resetToken.token}) }}">http://localhost:8000{{ path('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans 1 heure {# {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} #}.</p>

<p>A tout de suite sur notre site!</p>
