{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1 class="titre1">Réinitialise ton mot de passe par là</h1>

    <div>
        <div>
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn-wide btn-normal btnVille btnModif">Réinitilisation du mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </div>

{% endblock %}
