@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

/*body*/
/*{*/
/*    background-image: url(../img/.....);*/
/*}*/

.titre1{
    font-family: 'Roboto Mono', monospace;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;


}
h2{
    /*text-align: center;*/

    justify-content: center;

}

.header {
    background-image: url("https://ibb.co/2PBtq9k");
    /*font-family: 'Roboto Mono', monospace;*/
    /*background: rgba(187, 186, 186, 0.96);*/
    /*height: 100%;*/

}
.container1 {

    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text {
    font-weight: 200;
    font-size: 28px;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
}
.dud {
    color: #757575;
}