{% extends 'base.html.twig' %}

{% block title %}Edition Ville{% endblock %}

{% block body %}
    <h1 class="titre1">Editer la ville</h1>

    {{ include('ville/_form.html.twig', {'button_label': 'Modifer'}) }}


    <a><form method="post" action="{{ path('app_ville') }}">
            <button class="btn">Retour</button>
        </form></a>

{% endblock %}
