{% extends 'base.html.twig' %}

{% block title %}Edition Ville{% endblock %}

{% block body %}
    <h1 class="titre1">Editer la ville</h1>


<div class="container">
    <div class="row ">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
    {{ include('ville/_form.html.twig', {'button_label': 'Modifer'}) }}


    <a><form method="post" action="{{ path('app_ville') }}">
            <button class="btn-wide btn-normal">Retour</button>
        </form></a>
        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>

{% endblock %}
